html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}
/* Hero Image */ 

.hero-image {
    background-image:url("https://res.cloudinary.com/dtuvcebdg/image/upload/v1701600305/Untitled_design_1_rhvynf.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}

/* Hero text*/ 

.hero-text {
    text-align: center;
}

/* lead text */

.hero-text .lead {
    font-family: 'GoudyBookletter1911';
    font-size: 2.5em;
}
/*Navbar & logo */ 
.navbar {
    color: white;

}

.navbar-brand img{
    width: 100px;

}

.navbar-brand{
    margin-right: 0;
    padding: 0 1em

}

.navbarNav {
    align-items: center;
}

.navbar .navbarNav .nav-link{
    color: black;
    font-size: 1.1em;
    padding: .5em 1em ;
}

ul .nav-link {
    font-weight: bold;
}


img.card-img-top{
    max-height: 40vh;
    object-fit: contain;
}

img.img-fluid.rounded-start {
    max-height: 40vh;
}
/* Books Page (cards) */ 
/*
.cards__container {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  */
  /*
.card {
    position: relative;
    width: 200px;
    margin: 15px;
    background-color: transparent;
    border-radius: 5px;
    object-fit: cover;
}
*/

.card.product .btn {
    bottom: 1.5rem;
    max-width: 80%;
  }


/* Book Details Page */
/*
.container {
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 25px;
    padding-bottom:20px ;
    padding-top:20px ;
    box-shadow: 0px 0px 3px 0px grey;
    position: relative;
  }
  */
.name { 
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 350px;

}

.author {
    font-size: 1.4rem;
    font-style: italic;
    position: absolute;
    top: 50px;
    left: 350px;
}

.summary {
    font-size: 1rem;
      display: inline-block;
      position: absolute;
      width: 60%;
      top: 150px;
      left: 350px;
}

.genre {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    width: 60%;
    top: 150px;
    left: 350px;
}

.book_img {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
.books{
    text-decoration: none;
    color: black;
}
.books:hover{
    cursor: pointer;
}


.book-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-container {
    display:flex;
    flex-direction: column;
}


.edit_btn{
    left :90%;
    padding: 10px 15px;
    text-align: center
  }

.delete-btn, .edit_btn {
    background-color: #FFB830;
    color: white;
    text-decoration: none;
    display: inline;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;
}
/* 
.container {
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 25px;
    padding-bottom:20px ;
    padding-top:20px ;
    box-shadow: 0px 0px 3px 0px grey;
    position: relative;
  } */

/* Sign Up & Login styling */

.sign-up-container {
    width: 60%;
    height: 70vh;
    margin: 60px auto;
    border-radius: 10px;
    background-color: #809977;
    position: relative;
}

.sign-in-container {
    width: 60%;
    height: 70vh;
    margin: 60px auto;
    border-radius: 10px;
    background-color: white;
    position: relative;

}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: #809977;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom:0px !important;

}

header {
    background-color: #fafafa;
    color: white;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: black;
}

.active {
    border-bottom: 2px solid blue;
}

/* Media Queries */

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .book-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }


    .book-detail {
        width: 60%;
        padding: 2rem;
    }

    .book-container {
        flex-direction: row;

    }