html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}
/* Hero Image */ 

.hero-image {
    background-image:url("https://res.cloudinary.com/dtuvcebdg/image/upload/v1701600305/Untitled_design_1_rhvynf.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}

/* Hero text*/ 

.hero-text {
    text-align: center;
}

/* lead text */

.hero-text .lead {
    font-family: 'GoudyBookletter1911';
    font-size: 2.5em;
}
/*Navbar & logo */ 
.navbar {
    color: white;

}

.navbar-brand img{
    width: 100px;

}

.navbar-brand{
    margin-right: 0;
    padding: 0 1em

}

.navbarNav {
    align-items: center;
}

.navbar .navbarNav .nav-link{
    color: black;
    font-size: 1.1em;
    padding: .5em 1em ;
}

ul .nav-link {
    font-weight: bold;
}
/* Card */ 
.card {
    height: 90%;
    margin-top: 1rem;
}

.card img {
    background: white;
    border: 1px solid white;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.books{
    text-decoration: none;
    color: black;
}
.books:hover{
    cursor: pointer;
}


.book-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-container {
    display:flex;
    flex-direction: column;
}

.book-detail{
    width: 100%;

}

.book-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-pic {
    width: 100%;
    height: auto;
}



/* Footer */
footer {
    flex-shrink: 0;
    background-color: #809977;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

header {
    background-color: #fafafa;
    color: white;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: black;
}

.active {
    border-bottom: 2px solid blue;
}

/* Media Queries */

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .book-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .book-img {
        width: 40%;
        margin: 0 auto;
    }

    .book-detail {
        width: 60%;
        padding: 2rem;
    }

    .book-container {
        flex-direction: row;

    }