{% load static %}

<header class="text-white">
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand d-none d-lg-block" href=""><img src="{% static 'images/logo.png' %}"
          alt="The Book Booth Logo" class="logo"></a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
              href="{% url 'home' %}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'books' %}active{% endif %}" aria-current="page"
              href="{% url 'books' %}">BOOKS</a>
          </li>
          <li>

          <li class="nav-item">
            <a class="nav-link {% if url_name == 'add_book' %}active{% endif %}" href="{% url 'add_book' %}">ADD A
              BOOK</a>
          </li>
          {% if request.user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">LOGOUT</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}"
              href="/accounts/signup/">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">LOGIN</a>
          </li>
          {% endif %}
        </ul>
        <!-- Form for search bar -->
       
      </div>
    </div>
  </nav>
  {% endwith %}
</header>