{% extends 'base.html' %}
{% block title %}Add a Book {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form method="post" enctype="multipart/form-data"> 
                <h1 class="text-center">Add Book</h1> 
                {% csrf_token %}
                {{ form.media }} 
                {{ form| crispy }} 
                <div class="text-center"> 
                    <button type="submit" class="btn btn-lg btn-outline-success my-2">Submit</button> 
                </div> 
            </form> 
        </div>
    </div>
</div> 
{% endblock %}