{% extends 'base.html' %}
{% load static%}

{% block title %}BROWSE OUR BOOKS{% endblock %}

{% block content %}
<h1 class="text-center p-2">Books</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for books in books %}
    <a href="{% url 'book_detail' slug=book.slug %}" class="book" aria-label="Click to view {{book.title}}">
        <div class="card m-3 custom-card" style="width:18rem;">
            <img src="{{book.image.url}}" class="card-img-top" >
            <div class="card-body">
                <h2 class="card-title">{{book.title}}</h2>
                <p class="card-text">{{book.excerpt|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock %}