{% extends "base.html" %}

{% block title %} Book Details - {{book.title}}{% endblock %}

{% block content %} 
    <div class="container">
        <div class="book-info mt-3 p-1">
            <div class="book-img">
                <img src="{{ book.image.url }}" alt="{{ book.image_alt }}" class="book-pic">
            </div>
            <div class="book-detail">
                <h1 class="text-center">{{ book.title }}</h1>
                <p class="text-center">Posted by {{book.user}} </p>
                <hr>
                <p>{{book.summary}}</p>

                {% if request.user == book.user %} 
                <div class="text-center">
                    <a href="{% url 'edit_book' book.id %}" class="btn btn-warning w-25">Edit</a>
                    <a href="{% url 'delete_book' book.id %}" class="btn btn-warning w-25">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
       
{% endblock %}